<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
         body{
            background-color: lawngreen;
        }
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
        }

        form{
            text-align: center;
        }

    </style>

</head>
<body>
    <h1>Add Friend</h1>
    <h2>Type in your friends email</h2>
    <form method="post">
        <input name="email">
        <input type = "submit">
    </form>


</body>
</html>